@font-face {
   font-family: "Cera-pro-reg";
   src: url("../fonts/CeraPro-Regular.ttf");
}
@font-face {
   font-family: "Cera-pro-lidht";
   src: url("../fonts/CeraPro-Light.ttf");
}
@font-face {
   font-family: "Cera-pro-bold";
   src: url("../fonts/CeraPro-Bold.ttf");
}
@font-face {
   font-family: "Cera-pro-med";
   src: url("../fonts/CeraPro-Medium.ttf");
}
@font-face {
   font-family: "Cera-pro-black";
   src: url("../fonts/CeraPro-Black.ttf");
}
/* myreset */
*{
   padding: 0; margin: 0; box-sizing: border-box;
}
/* root, var */
:root {
   font-size: 16px;
   --color-bg-primary:#46A358;
   --color-text-primary:#3D3D3D;
   --color-white: #ffffff;
}
/* general styles */
html {
   font-family: "Cera-pro-reg";
}

/* css */
.container {
   max-width: 83.333%;
   margin: 0 auto;
}

img {
   width: 100%;
}

/* ----- header ----- */
header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 25px;
}

header.container {
   border-bottom: 1px solid #46A358;
   padding-bottom: 13px;
}

header .logo {
   width: 150px;
}

.header-items {
   display: flex;
}

.header-items button {
   background-color: transparent;
   margin: 0 15px;
   border: none;
   cursor: pointer;
}

.header-items button:last-child {
   background-color: var(--color-bg-primary);
   padding: 15px 26px;
   display: flex;
   align-items: center;
   color: var(--color-white);
   border: none;
   border-radius: 6px;
   cursor: pointer;
   font-family: "Cera-pro-med";
   font-weight: 500;
   line-height: 20px;
}

.header-items button img {
   padding: 0 4px;
}

.img-btn {
   padding: 0 4px;
}

header nav a {
   text-decoration: none;
   color: var(--color-text-primary);
   margin: 0 25px;
   padding-bottom: 25px;
   border-bottom: 3px solid transparent;
   transition: 0.5s ease;
}

header nav a.active, header nav a:hover {
   border-bottom: 3px solid #46A358;
   font-weight: 700;
}

/* ----- hero ----- */
.hero {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0px 0px 0px 40px;
   background-color: #FBFBFB;
   margin: 12px 0 26px 0;
}

.hero-text {
   max-width: 37%;
}

.hero-text h3 {
   text-transform: uppercase;
   color: var(--color-text-primary);
   font-size: 14px;
   font-weight: 500;
   font-family: "Cera-pro-med";
}

.hero-text h1 {
   font-family: "Cera-pro-black";
   font-weight: 900;
   font-size: 70px;
   line-height: 70px;
   color: var(--color-text-primary);
   text-transform: uppercase;
}

.hero-text h1 span {
   color: #46A358;
}

hero-image {
   width: 40%;
   display: flex;
   justify-content: space-between;
}

.hero-text p {
   /* margin: 20px 0; */
   color: #727272;
   line-height: 24px;
   font-size: 14px;
}

button.shop-now-btn {
   padding: 10px 26px;
   font-family: "Cera-pro-bold";
   font-weight: 700;
   line-height: 20px;
   text-transform: uppercase;
   margin-top: 44px;
   background-color: var(--color-bg-primary);
   color: var(--color-white);
   border: none;
   border-radius: 6px;
   cursor: pointer;
}

/* ----- product ----- */
.products {
   display: flex;
   justify-content: space-between;
   margin-bottom: 94px;
}

.aside-bar {
   width: 25.83333%;
}

.aside-items {
   padding: 18px 24px 18px 18px;
   background-color: #FBFBFB;
   padding-bottom: 120px;
}

.aside-items nav {
   display: flex;
   flex-direction: column;
   margin-bottom: 270px;
}

.aside-items nav h3 {
   padding-bottom: 14px;
   font-weight: 700;
   font-size: 18px;
   font-family: "Cera-pro-bold";
   color: var(--color-text-primary);
}

.aside-items nav a {
   padding-left: 12px;
   color: var(--color-text-primary);
   padding-bottom: 10px;
   text-decoration: none;
   font-size: 15px;
   line-height: 40px;
}

.aside-items nav a.active {
   color: #46A358;
   font-family: "Cera-pro-bold";
}

/* Banner */
.aside-banner {
   flex-direction: column;
   display: flex;
   justify-content: center;
   text-align: center;
   background: linear-gradient(to bottom, rgba(70, 163, 88, 0.1), rgba(70, 163, 88, 0.3));
   width: 100%;
}

.aside-banner h2 {
   padding: 18px;
   color: #46A358;
   font-weight: 400;
   font-size: 65px;
   line-height: 65px;
   font-family: "Cera-pro-black";
}

.cards-wrapper {
   width: 70%;
   margin-bottom: 95px;
}

/* Filter bar */
.filter-bar {
   display: flex;
   justify-content: space-between;
   padding-bottom: 30px;
}

.filter-items button {
   color: var(--color-text-primary);
   background-color: #ffffff;
   margin: 0 37px 0 0;
   font-size: 15px;
   cursor: pointer;
   border: none;
}

.filter-items button.active {
   border-bottom: 2px solid #46A358;
   color: #46A358;
   font-family: "Cera-pro-bold";
}

.sort-items {
   font-size: 15px;
   color: var(--color-text-primary);
}

.sort-items select{
   border: none;
}

/* cards */
.cards {
   display: flex;
   flex-wrap: wrap;
   gap: 40px;
   margin-bottom: 40px;
}

.card {
   width: calc(33.333% - 40px);
   border-top: 1px solid transparent;
}

.card:hover .feature-bar {
   opacity: 1;
   visibility: visible;
}

.card:hover {
   border-top: 1px solid #46A358;
}

.card-img {
   padding: 30px 4px 20px;
   background-color: #FBFBFB;
   margin-bottom: 12px;
   position: relative;
}

.feature-bar {
   display: flex;
   position: absolute;
   bottom: 10px;
   left: 50%;
   transform: translateX(-50%);
   opacity: 0;
   visibility: hidden;
   transition: 0.5s ease;
}

.feature-bar button {
   cursor: pointer;
   border: none;
   padding: 0 13px 0 13px;
   background-color: #FBFBFB
}

.card-info p {
   font-size: 16px;
   color: var(--color-text-primary);
   margin-bottom: 6px;

}

.card-info h5 {
   color: var(--color-bg-primary);
   font-family: "Cera-pro-bold";
   font-weight: 700;
   font-size: 18px;
   line-height: 16px;
}

.card-info h5 span {
   font-size: 18px;
   color: #a5a5a5;
   text-decoration: line-through;
   padding-left: 20px;
   font-family: "Cera-pro-reg";
   font-weight: 400;
}

.pagination {
   display: flex;
   justify-content: flex-end;
}

.pagination button {
   margin: 0 4px;
   cursor: pointer;
   background-color: #ffff;
   border: 1px solid #E5E5E5;
   border-radius: 4px;
   text-decoration: none;
   padding: 10px 15px;
   color: var(--color-text-primary);
   font-weight: 300;
   font-size: 18px;
   font-family: "Cera-pro-lidht";
   transition: 0.5s ease;
}

.pagination button:hover {
   background-color: #46A358;
   color: #ffffff;
}

.pagination button.active {
   background-color: #46A358;
   color: var(--color-white);
}

/* ----- categories ----- */
.categories {
   display: flex;
   justify-content: space-between;
   gap: 28px;
}

.item-img {
   width: 50%;
   position: relative;
}

.item-img img {
   position: absolute;
   left: 0;
   bottom: 10px;
}

.category-item {
   display: flex;
   background-color: #fbfbfb;
   font-size: 18px;
   text-align: right;
   width: 50%;
   height: 17vw;
   min-width: 200px;
}

.item-info {
   padding: 36px 30px 30px 0;
   width: 50%;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content: center;
}

.item-info h3 {
   max-width: 160px;
   margin-left: auto;
   margin-bottom: 16px;
   font-family: "Cera-pro-black";
   font-weight: 900;
   font-size: 18px;
   line-height: 24px;
   color: var(--color-text-primary);
   text-transform: uppercase;
}

.item-info p {
   font-size: 14px;
   line-height: 24px;
   max-width: 300px;
   margin-bottom: 14px;
   margin-left: auto;
   color: #727272;
}

.item-info button {
   padding: 14px 28px;
   display: flex;
   align-items: center;
   margin-left: auto;
   font-family: "Cera-pro-med";
   line-height: 20px;
   font-weight: 500;
   font-size: 14px;
   color: var(--color-white);
   background-color: var(--color-bg-primary);
   border: none;
   border-radius: 6px;
   cursor: pointer;
}

.item-info button img {
   width: 18px;
   margin-left: 12px;
}